<h2 class="mt-5">7日分の投稿数</h2>
<table class="table">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <td><%= @book_6days_ago.count %></td>
    <td><%= @book_5days_ago.count %></td>
    <td><%= @book_4days_ago.count %></td>
    <td><%= @book_3days_ago.count %></td>
    <td><%= @book_2days_ago.count %></td>
    <td><%= @book_yesterday.count %></td>
    <td><%= @book_today.count %></td>
  </tr>
</table>

<canvas id="myChart"></canvas>
<script>
$(document).on('turbolinks:load', function () {
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前','今日'],
            datasets: [{
                label: '投稿した本の数',
                data: [
                    <%= @book_6days_ago.count %>,
                    <%= @book_5days_ago.count %>,
                    <%= @book_4days_ago.count %>,
                    <%= @book_3days_ago.count %>,
                    <%= @book_2days_ago.count %>,
                    <%= @book_yesterday.count %>,
                    <%= @book_today.count %>
                ],
                borderColor: ['rgba(153, 102, 255, 1)'],
                fill: false,
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                }
            },
            title: {
              display: true,
              text: '7日間の投稿数の比較'
            }
        }
    });
});
</script>