<h2 class="mt-5">7日分の投稿数</h2>
<table class="table">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <td><%= @book_6days_ago.count %></td>
    <td><%= @book_5days_ago.count %></td>
    <td><%= @book_4days_ago.count %></td>
    <td><%= @book_3days_ago.count %></td>
    <td><%= @book_2days_ago.count %></td>
    <td><%= @book_yesterday.count %></td>
    <td><%= @book_today.count %></td>
  </tr>
</table>